a:visited {
	color: #f99;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

body {
	font-family: Calibri;
		
}

@font-face {
	font-family: 'fridaysregular';
		src: url('Font/fridays-webfont.woff') format('woff'),
			 url('Font/fridays-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

#main {
	background-color: #99CCFF;
	margin-top: -1px;
}


nav {
	line-height: 2.5;
	
}


.footer {
	line-height: 1.75;
}	

.header {
	width:100%;
	margin: auto;
}


h1.header {
	text-align: center;
	font-family: 'fridaysregular';
	color: #CC6666;
	margin-bottom: 20px;
}

.hyperlinks {
	word-spacing: 30px;
	margin-left: 20px
}

p {
	line-height: 1;
	width: 450px;
	margin: auto;
}

#bev {
	font-size: 20px;
}

hr {
	margin-bottom: 0;
	margin-top: 0;
}

